@import "tailwindcss";

.bg-slate-subtle-grid {
   
    background-image:
        url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20viewBox%3D%270%200%20120%20120%27%3E%3Cg%20stroke%3D%27%2364748b%27%20stroke-width%3D%271%27%20stroke-linecap%3D%27round%27%20opacity%3D%270.4%27%3E%3Cline%20x1%3D%2760%27%20y1%3D%2754%27%20x2%3D%2760%27%20y2%3D%2766%27/%3E%3Cline%20x1%3D%2754%27%20y1%3D%2760%27%20x2%3D%2766%27%20y2%3D%2760%27/%3E%3C/g%3E%3C/svg%3E"),
        linear-gradient(to bottom right, #020618, #0f172a, #020618);

    
    background-size: 120px 120px, 100% 100%;
    background-repeat: repeat, no-repeat;
    background-position: center center, center center;
    background-attachment: fixed;
    
    background-color: #020618;
    
}

@keyframes arrow-bounce {
    0% {
        transform: translateY(0);
        
    }

    50% {
        transform: translateY(8px);
        
    }

    100% {
        transform: translateY(0);
        
    }
}

.arrow-anim {
    animation: arrow-bounce 2s infinite;
}